<h1> Python - 102 - Variables and Types</h1>

<h4>Assigning Values to Variables</h4>

In [1]:
counter = 100 # An integer assignment
miles = 1000.0 # A floating point
name = "John" # A string
print (counter)
print (miles)
print (name)

100
1000.0
John

<h4>Multiple Assignments</h4>

In [2]:
a = b = c = 1
print(a,b,c)

1 1 1

In [3]:
a, b, c = 1, 2, "john"
# a = 1
# b = 2
# c = "John"
print(a,b,c)

1 2 john

<h4>Numbers</h4>
<p>Number data types store numeric values. Number objects are created when you assign a value to them.</p>

In [4]:
var1 = 50
var2 = 100
print(var1 + var2, var2 - var1)
print(var1 + var2 + var2 - var1)

150 50
200

<h4>Strings</h4>
<p>Strings in Python are identified as a continuous set of characters represented in the quotation marks.</p>

In [5]:
string1 = 'Hello World!'
print (string1) # Prints complete string
print (string1[0]) # Prints first character of the string - string slicing
print (string1[2:7]) # Prints characters starting from 3rd to 5th - string slicing
print (string1[2:]) # Prints string starting from 3rd character - string slicing
print (string1[:7]) # Prints string starting from 3rd character - string slicing
print (string1 * 3) # Prints string two times - string multiplication
print (string1 + " TEST") # Prints concatenated string  - string concatenation

Hello World!
H
llo W
llo World!
Hello W
Hello World!Hello World!Hello World!
Hello World! TEST

<h4>Lists</h4>
<p>A list contains items separated by commas and enclosed within square brackets ([]).</p>
<p>It can hold more than one kind of data type</p>

In [8]:
list12 = [ 'abcd', 108 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list12) # Prints complete list
print (list12[0]) # Prints first element of the list
print (list12[1:3]) # Prints elements starting from 2nd till 3rd
print (list12[2:]) # Prints elements starting from 3rd element
print (list12[:])
print (tinylist * 2) # Prints list two times
print (list12 + tinylist) # Prints concatenated lists

list12[2] = 3.14
print(list12)

['abcd', 108, 2.23, 'john', 70.2]
abcd
[108, 2.23]
[2.23, 'john', 70.2]
['abcd', 108, 2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 108, 2.23, 'john', 70.2, 123, 'john']
['abcd', 108, 3.14, 'john', 70.2]

<h4>Tuples</h4>
<p>A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.</p>
<p>The main difference between lists and tuples is- Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. <b>Tuples can be thought of as read-only lists.</b></p>

In [7]:
tuple12 = ( 'abcd', 108 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (tuple12) # Prints complete tuple
print (tuple12[0]) # Prints first element of the tuple
print (tuple12[1:3]) # Prints elements starting from 2nd till 3rd
print (tuple12[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (tuple12 + tinytuple) # Prints concatenated tuple

# tuple[2] = 3.14
# print(tuple)

('abcd', 108, 2.23, 'john', 70.2)
abcd
(108, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 108, 2.23, 'john', 70.2, 123, 'john')

<h4>Dictionary</h4>
<p>Python's dictionaries are kind of hash-table type.</p>
<p>It consist of key-value pairs.</p>
<p>A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object. But key has to be immutable</p>

In [9]:
dict12 = {} # dict = {}
dict12['one'] = "This is one" # dict = {'one': 'This is one'}
dict12[2] = "This is two" # dict ={'one': This is one, 2: 'This is two'}
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict12['one']) # Prints value for 'one' key
print (dict12[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values
print(dict12)
dict12['one'] = 'Changed Value'
print(dict12) # dict

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])
{'one': 'This is one', 2: 'This is two'}
{'one': 'Changed Value', 2: 'This is two'}

<h4>Data Type Conversion</h4>
<p>Conversion of one type of Data to another</p>
<p>int(x [,base]) - Converts x to an integer. The base specifies the base if x is a string.</p>
<p>float(x) - Converts x to a floating-point number.</p>
<p>complex(real[,imag]) - Creates a complex number.</p>
<p>str(x) - Converts object x to a string representation.</p>
<p>tuple(s) - Converts s to a tuple.</p>
<p>list(s) - Converts s to a list.</p>
<p>set(s) - Converts s to a set.</p>
<p>dict(d) - Creates a dictionary. d must be a sequence of (key,value) tuples.</p>

In [9]:
a = '123'
print(type(a))
b = int(a)
print(a,b)
print(type(b))
c = float(a)
print(c)
print(type(c))
cmd = 456789
string = str(cmd)
print(type(cmd), type(string))
l = [1,2,3]
t = tuple(l)
print(t, type(t))
t1 = (3,4,5)
l1 = list(t1)
print(l1, type(l1))
l2 = [1,2,3,4,5,6,1,2,3]
s2 = set(l2)
print(s2, type(s2))

<class 'str'>
123 123
<class 'int'>
123.0
<class 'float'>
<class 'int'> <class 'str'>
(1, 2, 3) <class 'tuple'>
[3, 4, 5] <class 'list'>
{1, 2, 3, 4, 5, 6} <class 'set'>

In [11]:
a = input('Enter a number')
print(type(a))
b = int(input('Enter a number'))
print(type(b))

Enter a number34
<class 'str'>
Enter a number23
<class 'int'>