<h1> Python - 102 - Variables and Types</h1>

<h4>Assigning Values to Variables</h4>

In [1]:
counter = 100 # An integer assignment
miles = 1000.0 # A floating point
name = "John" # A string
#print (counter)
#print (miles)
#print (name)

<h4>Multiple Assignments</h4>

In [2]:
a = b = c = 1
#print(a,b,c)

In [3]:
a, b, c = 1, 2, "john"
#print(a,b,c)

<h4>Numbers</h4>
<p>Number data types store numeric values. Number objects are created when you assign a value to them.</p>

In [4]:
var1 = 50
var2 = 100
#print(var1 + var2, var2 - var1)

<h4>Strings</h4>
<p>Strings in Python are identified as a contiguous set of characters represented in the quotation marks.</p>

In [5]:
str = 'Hello World!'
#print (str) # Prints complete string
#print (str[0]) # Prints first character of the string
#print (str[2:5]) # Prints characters starting from 3rd to 5th
#print (str[2:]) # Prints string starting from 3rd character
#print (str * 2) # Prints string two times
#print (str + "TEST") # Prints concatenated string

<h4>Lists</h4>
<p>A list contains items separated by commas and enclosed within square brackets ([]).</p>
<p>It can hold more than one kind of data type</p>

In [6]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
#print (list) # Prints complete list
#print (list[0]) # Prints first element of the list
#print (list[1:3]) # Prints elements starting from 2nd till 3rd
#print (list[2:]) # Prints elements starting from 3rd element
#print (tinylist * 2) # Prints list two times
#print (list + tinylist) # Prints concatenated lists

<h4>Tuples</h4>
<p>A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.</p>
<p>The main difference between lists and tuples is- Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.</p>

In [7]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
#print (tuple) # Prints complete tuple
#print (tuple[0]) # Prints first element of the tuple
#print (tuple[1:3]) # Prints elements starting from 2nd till 3rd
#print (tuple[2:]) # Prints elements starting from 3rd element
#print (tinytuple * 2) # Prints tuple two times
#print (tuple + tinytuple) # Prints concatenated tuple

<h4>Dictionary</h4>
<p>Python's dictionaries are kind of hash-table type.</p>
<p>It consist of key-value pairs.</p>
<p>A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object. But it has to be immutable</p>

In [8]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
#print (dict['one']) # Prints value for 'one' key
#print (dict[2]) # Prints value for 2 key
#print (tinydict) # Prints complete dictionary
#print (tinydict.keys()) # Prints all the keys
#print (tinydict.values()) # Prints all the values

<h4>Data Type COnversion</h4>
<p>Conversion of one type of Data to another</p>
<p>int(x [,base]) - Converts x to an integer. The base specifies the base if x is a string.</p>
<p>float(x) - Converts x to a floating-point number.</p>
<p>complex(real[,imag]) - Creates a complex number.</p>
<p>str(x) - Converts object x to a string representation.</p>
<p>tuple(s) - Converts s to a tuple.</p>
<p>list(s) - Converts s to a list.</p>
<p>set(s) - Converts s to a set.</p>
<p>dict(d) - Creates a dictionary. d must be a sequence of (key,value) tuples.</p>